<h1>글 상세보기</h1>
<hr>
<div>제목: <%= @test.title %></div>
<div>내용: <%= @test.contents %></div>
<a href="/tests">목록</a>
<a href="/test/<%=@test.id%>/edit">수정</a>
<a href="/test/<%=@test.id%>" data-method="delete" data-confirm="삭제하시겠습니까?">삭제</a>
