<html>
    <head>
        <title>계산기</title>
        <style>
            span {
                display: inline-block;
                font-size: 30px;
                border: 1px solid black;
                width: 100px;
                height: auto;
            }
        </style>
    </head>
    <body>
        <span>합: <%= @plus %></span>
        <span>차: <%= @minus %></span>
        <span>곱: <%= @multiply %></span>
        <span>몫: <%= @divide %></span>
    </body>
</html>