<h2>카페 수정</h2>
<hr>
<form action="/cafe/<%= @cafe.id %>" method="POST">
  <!-- put method를 사용하기 위한 input -->
  <input type="hidden" name="_method" value="put">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <div><input type="text" name="title" value="<%= @cafe.title %>" placeholder="카페명을 입력하세요"></div>
  <div>
    <textarea name="desc" placeholder="카페설명을 입력하세요"><%= @cafe.description %></textarea>
  </div>
  <button>수정</button>
</form>
